.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.aviso {
    color: #FF0000;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    max-height: 100%;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    max-height: 400px;
    background-color: white;

    label {
        font-family: "Poppins", sans-serif;
    }

    textarea {
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        resize: none;
        height: 150px;
    }

    input {
        font-family: "Poppins", sans-serif;
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        height: 40px;
    }
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.cadastrar {
    width: 50%;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background-color: #26A8ED;
  color: white;
  

  &:hover{
    background-color: #1d82c9;
  }
}

.cancelar {
    width: 50%;
  padding: 10px ;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  &:hover{
    background-color: #cfcfcf;
  }
}