.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    align-items: center;
    gap: 5px;
}

.aviso{
    color: #FF0000;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 100%;
    width: 500px;
    max-height: 100%;
    height: 300px;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
    height: 400px;
    label{
        font-family: "Poppins", sans-serif;
    }
    textarea{
        font-family: "Poppins", sans-serif;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        resize: none;
        height: 150px;
    }
    input{
        border: solid black 1px;
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
        height: 40px;
    }
}

.botoes{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.salvarAlteracoes{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    &:hover{
        background-color: #02c80c;
        color: white;
    }
}

.cancelar{
    border:  solid #FF0000 1px;
    color: #FF0000;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    &:hover{
        background-color: #FF0000;
        color: white;
    }
}

.deletar{
    background-color: #FF0000;
    border: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}