/*PARTE DE CIMA*/
.produtoContainerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 10px;

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
}

.btnAddProdutoContainer {
    display: flex;
    justify-content: right;
}

.addProdutoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-decoration: none;
    padding: 10px;
    background-color: #26A8ED;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none
}

/*PRODUTOS*/
.produtosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
}

.produto {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    max-width: 290px;
    height: 400px;
    align-items: center;
    text-align: center;
    gap: 5px;

    img {
        width: 100%;
        max-width: 150px;
        height: auto;
        max-height: 300px;
    }
}

.produtoName {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.produtoDescription {
    font-family: "Lato", sans-serif;
}

.produtoPrice {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.produtoQuantidade {
    font-family: "Lato", sans-serif;
    color: gray;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.editarBtn {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 40%;
    font-size: 16px;
    color: #000000;
    border: solid black 1px;
}

.deleteButton {
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 40%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: red;
    }
}
